{% extends 'base.html' %}

{% block content %}
  <div class="auth-container">
    <div class="auth-card">
      <h2>Set New Password</h2>
      {% if token_fail %}
        <p>The reset link is invalid. Please request a new one.</p>
        <a href="{% url 'account_reset_password' %}" class="btn-primary">Request New Reset</a>
      {% else %}
        <form method="post" action="{{ action_url }}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_password1" class="form-label">Password</label>
            <div class="password-container">
              <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required id="id_password1" />
              <span class="toggle-password" data-target="id_password1"><i class="fa fa-eye-slash"></i></span>
            </div>
          </div>

          <div id="password-requirements" class="alert alert-info" style="display: none; text-align: justify;">
            <ul>
              <li id="length" class="invalid">At least 8 characters</li>
              <li id="uppercase" class="invalid">Contains an uppercase letter</li>
              <li id="numeric" class="invalid">Contains a number</li>
              <li id="special" class="invalid">Contains a special character</li>
            </ul>
          </div>

          <div class="mb-3">
            <label for="id_password2" class="form-label">Password (again)</label>
            <div class="password-container">
              <input type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" required id="id_password2" />
              <span class="toggle-password" data-target="id_password2"><i class="fa fa-eye-slash"></i></span>
            </div>
            <ul class="errorlist" id="password-mismatch" style="display:none;">
              <li>You must type the same password each time.</li>
            </ul>
          </div>

          <div id="password-match" class="alert alert-danger" style="display:none;">Passwords do not match.</div>

          <button type="submit" class="btn-primary">Change Password</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
