{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

<div class="gallery-container">
    {% for folder in get_all_folders %}
    <div class="gallery-folder" data-name="{{folder.name}}">
        <div class="gallery-preview">
            {% for image in folder_images %}
            {% if image.folder == folder.path %}
            <img class="img-src" src="{{ image.secure_url }}" alt="{{folder.name}}">
            {% endif %}
            {% endfor %}
        </div>
        <h2>{{folder.name}}</h2>
    </div>
    {% endfor %}

    {% if user.is_superuser %}
    <div class="add-folder">
        <div id="add-sign">&plus;</div>
        <h2>Add New Folder</h2>
    </div>

    <div id="create-folder" class="folder-modal">
        <button class="close">&times;</button>
        <form id="folder-form" method="POST" action="{% url 'gallery' %}">
            {% csrf_token %}
            {{ folder_form}}
            <button type="submit">Create folder</button>
        </form>
    </div>

    <div id="add-image-modal">
        <button class="close">&times;</button>
        <form class="form-container" id="upload-form" method="POST" action="{% url 'upload_images' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="targetFolder" id="id_folder">

            <div class="upload-files-container">
                <div class="drag-file-area">
                    <span class="material-icons-outlined upload-icon">file_upload</span>
                    <h3 class="dynamic-message">Drag & drop any file here</h3>
                    <label class="label">
                        or
                        <br>
                        <span class="browse-files">
                            <input type="file" name="images" id="id_images" multiple>
                            <span class="browse-files-text">browse file</span>
                            <span>from device</span>
                            <div class="uploaded-file" id="uploaded-file"></div>
                        </span>
                    </label>
                </div>
                <span class="cannot-upload-message">
                    <span class="material-icons-outlined">error</span> Please select a file first
                    <span class="material-icons-outlined cancel-alert-button">Cancel</span>
                </span>
                <div class="file-block">
                    <div class="file-info">
                        <span class="material-icons-outlined file-icon">Description</span>
                        <span class="file-name"> </span> |
                        <span class="file-size"> </span>
                    </div>
                    <span class="material-icons remove-file-icon">Delete</span>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-bar" id="progressBar"></div>
                </div>
                <button type="submit" class="upload-button">Upload</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
<!-- Fullscreen Gallery Modal -->
<div class="gallery-modal">
    <button class="close">&times;</button>
    <div class="gallery-main">
        <img id="main-image" class="main-image" src="" alt="">
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </div>
    <div class="gallery-thumbnails" id="thumbnail-row">
        {% if user.is_superuser %}
        <div id="add-image-button"><span>&plus;</span></div>
        {% endif %}
    </div>
</div>

<script src="https://product-gallery.cloudinary.com/all.js" type="text/javascript"></script>

{% endblock %}