{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="gallery-container">
  {% for folder, images in folder_images.items %}
    <div class="gallery-folder" data-name="{{ folder.name }}">
      <div class="gallery-preview">
        {% for image in images %}
          <img class="img-src" src="{{ image.url }}" alt="{{ folder.name }}" />
        {% endfor %}
      </div>
      <a href="{% url 'year_gallery' folder.name %}">
        <h3>{{ folder.name }}</h3>
        {% if is_superuser %}
          <button class="delete-folder" data-folder="{{ folder.name }}">Delete Folder</button>
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>

<!-- Upload/Delete Overlay -->
<div id="overlay" class="overlay hidden">
  <div class="overlay-content">
    <div class="loader"></div>
    <p id="progress-text">Please wait...</p>
    <div id="progress-bar-container">
      <div id="progress-bar"></div>
    </div>
    <p class="small-text">⚠️ Do not refresh the page while uploading/deleting</p>
  </div>
</div>
{% endblock %}