{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4854b264bc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    <title>{% block title %}Wheels Next The Sea{% endblock %}</title>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <div class="logo">
                <a href="/">
                    <img src="{{MEDIA_URL}}logo.png" alt="Wheels next the sea logo">
                </a>
            </div>
            <button class="menu-toggle" aria-label="Toggle Menu">☰</button>
            <nav class="nav">
                <!-- Mobile Menu Button -->
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li id="events-dropdown" class="dropdown">
                        <a href="#">Events ▼</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'current_events' %}">Upcoming Event</a></li>
                            <li><a href="{% url 'past_events' %}">Past Events</a></li>
                            {% if request.user.is_superuser %}
                            <li><a href="{% url 'add_event' %}">Add Event</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'reviews' %}">Reviews</a></li>
                    <li><a href="{% url 'contact_page' %}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <!-- Main Content -->
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
        <script src="{% static 'js/script.js' %}"></script>
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-dev">
                    {% if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'account_login' %}">Site manager</a>
                    {% endif %}
                </div>
                <div class="footer-social">
                    <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-link"><img src="{{MEDIA_URL}}logo-white.png" alt="X logo"></img></a>
                    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="footer-text">
                    <p>Wheels Next The Sea <br> <small>Est 2010</small></p>
                    <p class="dev">
                        Website developed by <br> Viktor Mathe
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>