{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4854b264bc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}Wheels Next The Sea{% endblock %}</title>
</head>

<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <div class="logo">
                <a href="/">
                    <img src="../media/logo.png" alt="Wheels next the sea logo">
                </a>
            </div>
            <button class="menu-toggle" aria-label="Toggle Menu">☰</button>
            <nav class="nav">
                <!-- Mobile Menu Button -->
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li id="events-dropdown" class="dropdown">
                        <a href="#">Events ▼</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Upcoming Event</a></li>
                            <li><a href="#">Past Events</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <!-- Main Content -->
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
        <script src="{% static 'js/script.js' %}"></script>
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-dev">
                    Website developed by <br> Gameaholic ltd
                </div>
                <div class="footer-social">
                    <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-x"></i></a>
                    <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="footer-text">
                    <p>Wheels Next The Sea <br> <small>Est 2010</small></p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>